ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boxed-option-items{
    margin-top:300px;
}


.boxed-option-item {
    position: relative;
    // transform:rotate(90deg);
}

.boxed-option-item:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    border: 1px solid currentColor;
    opacity: .3;
    transition: all 150ms cubic-bezier(.19, 1, .22, 1);
}



.boxed-option-item .hover-lines {
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    box-sizing: border-box;
    border-bottom: 2px solid currentColor;
    border-left: 0 solid currentColor;
    border-right: 0 solid currentColor;
    transition: width .4s cubic-bezier(.19, 1, .22, 1) 340ms, 
                height .2s cubic-bezier(.25, .25, .75, .75) 145ms, 
                border-left-width 0s cubic-bezier(.25, .25, .75, .75) 340ms, 
                border-right-width 0s cubic-bezier(.25, .25, .75, .75) 340ms;
}

.boxed-option-item:hover .hover-lines {
    height: 100%;
    width: 100%;
    border-left-width: 2px;
    border-right-width: 2px;
    transition: width 150ms cubic-bezier(.25, .25, .75, .75), 
                height .2s cubic-bezier(.25, .25, .75, .75) 145ms, 
                border-left-width 0s cubic-bezier(.25, .25, .75, .75) 145ms, 
                border-right-width 0s cubic-bezier(.25, .25, .75, .75) 145ms;
}

.boxed-option-item:hover .hover-lines:after,
.boxed-option-item:hover .hover-lines:before {
    width: 50%;
    transition: width .5s cubic-bezier(.19, 1, .22, 1) 340ms
}


.boxed-option-item .hover-lines:after,
.boxed-option-item .hover-lines:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 150ms cubic-bezier(.25, .25, .75, .75) 0s;
}


.boxed-option-item .hover-lines:after {
    left: auto;
    right: 0;
}




/*====================*/




.boxed-option-item .number {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: -4.4rem;
    font: 400 11px/1 StratumBold, Arial, sans-serif;
    font-size: .55rem;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
    transition: transform .8s cubic-bezier(.19, 1, .22, 1);
    transition: transform .8s cubic-bezier(.19, 1, .22, 1), -webkit-transform .8s cubic-bezier(.19, 1, .22, 1);
}


.boxed-option-item .number:after {
    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    content: '';
    display: block;
    width: 1px;
    height: 0;
    background: currentColor;
    margin: 1rem auto 0
}


.boxed-option-item.show-line:hover .number {
    -webkit-transform: translate(-50%, -1.4rem);
    -ms-transform: translate(-50%, -1.4rem);
    transform: translate(-50%, -1.4rem);
    transition-delay: .2s;
}

.boxed-option-item.show-line.active .number:after,
.boxed-option-item.show-line:hover .number:after {
    height: 6rem;
    transition-delay: .2s;
}


.button-block {
    position: relative;
    display: block;
}

.boxed-option-link {
    position: static;
    padding: 4rem 2rem 3.2rem;
}



